section.topo .lateral{
	width: 30px;
	background-color: #be1e2d;
	position: fixed;
}

section.topo .ribbon{
	background-color: #f91;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    /*left: -50px;*/
    top: 20px;
    /*-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);*/
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}

section.topo .ribbon a{
	border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
}

.overview ul{margin-top: 20px;}

.overview ul li + ul{margin-top: 0px;}

.logo{
	margin-top: 40px;
	text-align: center;
}

.linha{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #dfe1e4;
    min-height: 1px;
    max-width: 1000px;
    margin-top: 20px;
}

.descricao {
	margin-top: 40px;
	font-size: 20px;
	text-align: justify;
}

.overview{
	font-size: 18px;
}

.overview .imagem{text-align: center;}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}

input.email{width: 70%!important;}

.btn-default {
    color: #fff;
    background-color: #ff9911;
    border-color: #ca7400;
    font-weight: bold;
    /*-webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;*/
    text-shadow: 0 0 5px #444;
}

.btn-default:hover, .btn-default:active, .btn-default:focus{
	background-color:#e88500!important;
	color: #FFF!important;
}

section.footer .mini-logo-white{
	width: 100%;
    background-color: #3b3b3b;
    text-align: right;
    line-height: 40px;
    position: absolute;
}

section.footer .mini-logo-white img{margin-right: 20px;}


